# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# 📦 Виртуальное окружение (venv)
venv/
env/

# 📁 Папка с базой данных и данными
data/
*.db
*.sqlite
*.json

# 🔑 Секреты (если вдруг забудешь)
.env
*.env

# 🗑 Логи и временные файлы
*.log
*.tmp

# 🧪 PyCharm и VSCode
.idea/
.vscode/

# 📦 Кэш pip
pip-wheel-metadata/
*.egg-info/
dist/
build/

# 🐙 Git
.git/
